<!--Search Zones!-->


<!--Zone Examples!-->
<div class="zone-containers">
    <div class="grid-x grid-margin-x small-up-2 medium-up-3">
      <div class="cell">
        <div class="zone">
            <a href="{{zone_post}}" target="_blank">{{image}}</a>
          <img src="Images/black masks.jpg">
          <div class="card-section">
          <h4>{{tittle}}</h4>
            <p></p>
          </div>
        </div>
    </div>
      <div class="cell">
        <div class="zone">
            <a href="{{zone_post}}" target="_blank">{{image}}</a>
          <img src="Images/black masks.jpg">
          <div class="card-section">
          <h4>{{tittle}}</h4>
            <p></p>
          </div>
        </div>
      </div>
         <div class="cell">
        <div class="zone">
            <a href="{{zone_post}}" target="_blank">{{image}}</a>
          <img src="Images/black masks.jpg">
          <div class="card-section">
          <h4>{{tittle}}</h4>
            <p></p>
          </div>
        </div>
      </div>
  </div>

  <!--About Us!-->
  
