<body>
<div class="grid-container">
  <div class="grid-x small-up-2 medium-up-3">
    <div class="cell">
      <div class="card">
        <img src="{{image}}">
        <div class="card-section">
          <h4>{{tittle}}</h4>
          <p>{{description}}</p>
        </div>
      </div>
    </div>
    <div class="cell">
      <div class="card">
        <img src="{{image}}">
        <div class="card-section">
          <h4>{{tittle}}</h4>
          <p>{{description}}</p>
        </div>
      </div>
    </div>
    <div class="cell">
      <div class="card">
        <img src="{{image}}">
        <div class="card-section">
          <h4>{{tittle}}</h4>
          <p>{{description}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="row column text-center">
  <div class="vision">
    <h3> Hitting the target</h3> <small>Our Goal</small>
    <p> Landing Zone strives to offer a mutually beneficial experience for working professionals and space owners. Working professionals can rent a zone, suited to their needs, for only the time they need it, right from their desktop or mobile devise. Space owners can rent out unused zones to generate an extra profit.</p>
  </div>
</div>
<div class="row column text-center">
  <div class="vision">
    <h3> Who we are</h3> <small>Ever Heard of XEN (/zen/)</small>
    <p> XEN is motivated to make the world, a peacful and calm environment that welcomes symbiosis through innovation and by staying on top of what's NEX(t).</p>
  </div>
</div>
</body>